%h1.page-header Последние события

%ul.list-group
  - @events.each do |event|
    %li.list-group-item
      %small
        = event.date
        - event.tags.each do |tag|
          = link_to tag.name, tag, class: 'btn btn-default btn-xs'
      %br
      = event.message

